/* Escribe la regla CSS (selector y propiedades) necesaria para que: 
•	Todos los enlaces de una página web aparezcan inicialmente con tipografía Arial, subrayados y sin cursiva y al pasar el cursor del ratón por encima de ellos cambien a tipografía Georgia, cursiva y no subrayados. 
•	Todos los párrafos dentro de un bloque DIV tengan sólo la primera línea en bold (negrita) y el resto en normal.
Probarlo en un prototipo de página html con enlaces <a> dentro de un <footer> al final de la página y que tengan esos estilos, asegurando que se abren dentro de la propia pestaña de navegación, anclándolos para que vayan al inicio de página.
 */


/* Regla para todos los enlaces */
a {
    font-family: Arial;
    text-decoration: underline;
    font-style: normal;
}

/* Regla para el estado hover de los enlaces */
a:hover {
    font-family: Georgia;
    font-style: italic;
    text-decoration: none;
}

/* Regla para párrafos dentro de un DIV */
div p::first-line {
    font-weight: bold;
}
